<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">


<title>SB Admin 2 - Dashboard</title>
<script src="vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:include="include/sidebar"></th:block>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<th:block th:include="include/topbar"></th:block>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->

					<!-- Content Row -->
					<th:block th:include="include/breadcrumb"></th:block>
					<!-- Content Row -->

					<div class="row">
						<div class="col-lg-6">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Thiết lập tin nhắn gửi</h1>
								</div>
								<form th:action="@{/sendSms}" method="post">
									<div class="form-group">
										<label for="email">Tới:</label> <input type="text"
											class="form-control" id="email"
											placeholder="Nhập số điện thoại cần gửi" name="numberPhone">
									</div>
									<div class="form-group">
										<label for="pwd">Nội dung:</label>
										<textarea class="form-control"
											placeholder="Nhập tin nhắn văn bản" name="contentSms"></textarea>
									</div>
									<div class="form-group form-check">
										<label class="form-check-label"> <input name="sendNow"
											class="form-check-input" type="checkbox" id="sendNow">Gửi
											ngay
										</label>
									</div>
									<fieldset class="disSendNow">
										<div class="form-group">
											<label>Ngày giờ gửi:</label>
											<div class="input-group date" id="datetimepicker1"
												data-target-input="nearest">
												<input name="dateTimeSend" type="text"
													class="form-control datetimepicker-input"
													data-target="#datetimepicker1" />
												<div class="input-group-append"
													data-target="#datetimepicker1" data-toggle="datetimepicker">
													<div class="input-group-text">
														<i class="fa fa-calendar"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Lặp lại: </span>
											</div>
											<select name="repeatTime" class="custom-select">
												<option value="1">Hàng năm</option>
												<option value="2">Hàng tháng</option>
												<option value="3">Hàng ngày</option>
												<option value="4">Một lần duy nhất</option>
											</select>
										</div>
									</fieldset>
									<script type="text/javascript">
										$(function() {
											$(function() {
												$('#datetimepicker1')
														.datetimepicker();
											});
										});
									</script>



									<button type="submit" class="btn btn-primary">Send</button>
								</form>
							</div>
						</div>
						<div class="col-lg-6" data-spy="scroll">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Danh ba</h1>
								</div>
								<div class="input-group mb-3 ">
									<div class="input-group-prepend">
										<button class="btn btn-outline-primary fa fa-plus-circle"
											type="button"></button>
									</div>
									<input type="text" class="form-control" placeholder="Ten">
									<input type="text" class="form-control"
										placeholder="So dien thoai">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="fa fa-user text-info input-group-text"></span>
									</div>
									<label class="form-control">ten hien thi</label> <label
										class="form-control">0987654567</label>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<th:block th:include="include/footer"></th:block>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<th:block th:include="include/modal/logout-modal"></th:block>

	<!-- Bootstrap core JavaScript-->

	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#sendNow").change(function() {
				if ($(this).is(":checked")) {
					$(".disSendNow").attr("disabled", true);
				} else {
					$(".disSendNow").attr("disabled", false);
				}
			});
		});
	</script>


</body>

</html>
